@model WebAppSDM.Models.TAbsenKhusus

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var KaryawanList = (List<DropdownList.KaryawanList>)ViewData["KaryawanList"];
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Absen/</span>Create Absen Khusus</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Nama</label>
                            <select asp-for="nip" class="form-control" required>
                                <option value="999">all</option>
                                @foreach (var item in KaryawanList)
                                {
                                    <option value="@item.NIP">@item.nama</option>
                                }
                            </select>
                            <span asp-validation-for="nip" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="periode_start" class="control-label"></label>
                            <input asp-for="periode_start" type="date" class="form-control" />
                            <span asp-validation-for="periode_start" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="periode_end" class="control-label"></label>
                            <input asp-for="periode_end" type="date" class="form-control" />
                            <span asp-validation-for="periode_end" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="keterangan" class="control-label"></label>
                            <input asp-for="keterangan" class="form-control" />
                            <span asp-validation-for="keterangan" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-action="Index" class="btn btn-lg btn-danger p-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

