@model WebAppSDM.Models.TMutasi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TMutasi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NIP" class="control-label"></label>
                <input asp-for="NIP" class="form-control" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grade_old" class="control-label"></label>
                <input asp-for="grade_old" class="form-control" />
                <span asp-validation-for="grade_old" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grade_new" class="control-label"></label>
                <input asp-for="grade_new" class="form-control" />
                <span asp-validation-for="grade_new" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jabatan_old" class="control-label"></label>
                <input asp-for="jabatan_old" class="form-control" />
                <span asp-validation-for="jabatan_old" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jabatan_new" class="control-label"></label>
                <input asp-for="jabatan_new" class="form-control" />
                <span asp-validation-for="jabatan_new" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_mutasi" class="control-label"></label>
                <input asp-for="date_mutasi" class="form-control" />
                <span asp-validation-for="date_mutasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="no_sk" class="control-label"></label>
                <input asp-for="no_sk" class="form-control" />
                <span asp-validation-for="no_sk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keterangan" class="control-label"></label>
                <input asp-for="keterangan" class="form-control" />
                <span asp-validation-for="keterangan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isdelete" class="control-label"></label>
                <input asp-for="isdelete" class="form-control" />
                <span asp-validation-for="isdelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdate" class="control-label"></label>
                <input asp-for="createdate" class="form-control" />
                <span asp-validation-for="createdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

