@model WebAppSDM.Models.TDivisi
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Apakah anda yakin ? </h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="id" />
                        <input type="hidden" asp-for="createdate" />
                        <input type="hidden" asp-for="isdelete" />
                        <input type="hidden" asp-for="id_divisi" />
                        <input type="hidden" asp-for="nip" />
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <a onclick="history.back()" class="btn btn-lg btn-danger p-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>