@model WebAppSDM.Models.MEmployee
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http

@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("role");
    var GradeList = (List<DropdownList.GradeList>)ViewData["GradeList"];
    var JabatanList = (List<DropdownList.JabatanList>)ViewData["JabatanList"];
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = "/photos/" + Model.nip + ".jpg";
}
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#emp_status').val() == "Kontrak") {
            document.getElementById('contract_date').readOnly = false;
        } else {
            document.getElementById("contract_date").readOnly = true;
        }
    });
</script>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Edit Karyawan</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />
                        <input type="hidden" asp-for="emp_photo" />
                        <div class="form-group">
                            <label class="control-label">NIP</label>
                            @if (role == "1")
                            {
                                <input asp-for="nip" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="nip" class="form-control" readonly="readonly" />
                            }

                            <span asp-validation-for="nip" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nama</label>
                            <input asp-for="nama" class="form-control" />
                            <span asp-validation-for="nama" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input asp-for="emp_email" type="email" class="form-control" />
                            <span asp-validation-for="emp_email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Karyawan Aktif</label>
                            @if (role == "1")
                            {
                                <select asp-for="emp_aktif" class="form-control">
                                    <option value="t">Aktif</option>
                                    <option value="f">Tdk Aktif</option>
                                </select>
                            }
                            else
                            {
                                <select asp-for="emp_aktif" class="form-control" disabled>
                                    <option value="t">Aktif</option>
                                    <option value="f">Tdk Aktif</option>
                                </select>
                            }

                            <span asp-validation-for="emp_aktif" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Grade</label>
                            <select asp-for="grade_id" class="form-control" required>
                                <option value="99999">-</option>
                                @foreach (var item in GradeList)
                                {
                                    <option value="@item.id">@item.nama</option>
                                }
                            </select>
                            <span asp-validation-for="grade_id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Jabatan</label>
                            <select asp-for="jabatan_id" class="form-control" required>
                                <option value="99999">-</option>
                                @foreach (var item in JabatanList)
                                {
                                    <option value="@item.id">@item.nama</option>
                                }
                            </select>
                            <span asp-validation-for="jabatan_id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tanggal Masuk</label>
                            <input asp-for="date_of_entry" type="date" class="form-control" />
                            <span asp-validation-for="date_of_entry" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status Karyawan</label>
                            <select asp-for="emp_status" class="form-control" onchange="validateStatus()" required>
                                <option value="-">-</option>
                                <option value="Tetap">Tetap</option>
                                <option value="Kontrak">Kontrak</option>
                                <option value="BOD">BOD</option>
                                <option value="SC">SC</option>
                            </select>
                            <span asp-validation-for="emp_status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tanggal Permanen</label>
                            <input asp-for="permanent_date" type="date" class="form-control" />
                            <span asp-validation-for="permanent_date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tanggal Habis Kontrak</label>
                            <input asp-for="contract_date" type="date" class="form-control" />
                            <span asp-validation-for="contract_date" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label">Apakah Mengambil Fasilitas Mobil ?</label><br />
                            <input class="form-check-input" type="checkbox" asp-for="fasilitas_mobil" /> Ya
                            <span asp-validation-for="fasilitas_mobil" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label">Tempat Lahir</label>
                            <input asp-for="emp_pob" class="form-control" />
                            <span asp-validation-for="emp_pob" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tanggal Lahir</label>
                            <input asp-for="emp_dob" type="date" class="form-control" />
                            <span asp-validation-for="emp_dob" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Jenis Kelamin</label>
                            <select asp-for="emp_sex" class="form-control" required>
                                <option value="Pria">Pria</option>
                                <option value="Wanita">Wanita</option>
                            </select>
                            <span asp-validation-for="emp_sex" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Alamat 1</label>
                            <textarea class="form-control" asp-for="emp_address_1" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Alamat 2</label>
                            <textarea class="form-control" asp-for="emp_address_2" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No Handphone 1</label>
                            <input asp-for="emp_phone_1" class="form-control" placeholder="0821xxxxxx" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">No Handphone 2</label>
                            <input asp-for="emp_phone_2" class="form-control" placeholder="0821xxxxxx" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">No. Telepon 1</label>
                            <input asp-for="emp_cellphone_1" class="form-control" placeholder="021xxxxxx" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">No. Telepon 2</label>
                            <input asp-for="emp_cellphone_2" class="form-control" placeholder="021xxxxxx" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Agama</label>
                            <select asp-for="emp_religion" class="form-control" required>
                                <option value="Islam">Islam</option>
                                <option value="Khatolik">Khatolik</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Budha">Budha</option>
                                <option value="Lain2">Lain-lain</option>
                            </select>
                            <span asp-validation-for="emp_religion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No NPWP</label>
                            <input asp-for="emp_NPWP" class="form-control" />
                            <span asp-validation-for="emp_NPWP" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No KTP</label>
                            <input asp-for="emp_KTP" class="form-control" />
                            <span asp-validation-for="emp_KTP" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No Passport</label>
                            <input asp-for="emp_passport" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Exp Passport</label>
                            <input asp-for="emp_passportexp" type="date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="emp_marital" class="control-label">Status Perkawinan</label>
                            <select asp-for="emp_marital" class="form-control" required>
                                <option value="Married">Menikah</option>
                                <option value="Single">Belum Menikah</option>
                            </select>
                            <span asp-validation-for="emp_marital" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tanggal Menikah</label>
                            <input asp-for="emp_dom" type="date" class="form-control" />
                            <span asp-validation-for="emp_dom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Status PTKP</label>
                            <select asp-for="emp_ptkp" class="form-control" required>
                                <option value="TK">TK</option>
                                <option value="K">K</option>
                                <option value="K1">K1</option>
                                <option value="K2">K2</option>
                                <option value="K3">K3</option>
                            </select>
                            <span asp-validation-for="emp_ptkp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">No Rekening</label>
                            <input asp-for="emp_norek" class="form-control" />
                            <span asp-validation-for="emp_norek" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <select asp-for="emp_bank" class="form-control" required>
                                <option value="BNI">BNI</option>
                                <option value="MANDIRI">MANDIRI</option>
                            </select>
                            <span asp-validation-for="emp_bank" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Atas Nama</label>
                            <input asp-for="emp_an" class="form-control" />
                            <span asp-validation-for="emp_an" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Golongan Darah</label>
                            <select asp-for="emp_darah" class="form-control" required>
                                <option value="A">A</option>
                                <option value="AB">AB</option>
                                <option value="B">B</option>
                                <option value="O">O</option>
                            </select>
                            <span asp-validation-for="emp_darah" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gaji Pokok</label>
                            <input asp-for="salary" type="number" class="form-control" />
                            <span asp-validation-for="salary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Upload Foto</label>
                            <input name="photo" id="photo" type="file" class="form-control" onchange="return fileValidationJPEG()" accept=".jpg" />
                            <label style="color:red">*Maksimum 5 mb</label>
                            <br />
                            <a href=@path target="_blank">Download Foto</a>
                        </div>
                        <div id="imagePreview"></div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-lg btn-danger p-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function validateStatus() {
        var data = $("#emp_status").val();
        if (data == "Kontrak") {
            document.getElementById('contract_date').readOnly = false;
        } else {
            document.getElementById("contract_date").readOnly = true;
        }
    }
    function fileValidationJPEG() {
        var fileInput = document.getElementById('photo');
        var renderImage = document.getElementById('imagePreview');

        var filePath = fileInput.value;

        const fileSize = fileInput.files[0].size / 1024 / 1024; // in mb
        if (fileSize > 5) {
            alert('File maksimum 5 MB');
            fileInput.value = '';
            document.getElementById('imagePreview').innerHTML = '<img width="60" src=""/>';
            return false;
        } else {
            var allowedExtensions = /(\.jpg)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Format harus .jpg');
                fileInput.value = '';
                return false;
            }
            else {

                // Image preview
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById(
                            'imagePreview').innerHTML =
                            '<img width="60" src="' + e.target.result
                            + '"/>';
                    };

                    reader.readAsDataURL(fileInput.files[0]);
                }
            }

        }
    }
</script>
