@model MGrade

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Edit Master Grade</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="post" asp-action="Edit">
                        <input type="text" class="form-control" asp-for="Id" required hidden="hidden"/>
                    
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-company">Grade</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" asp-for="grade" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">Nama Grade</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <select asp-for="nama_grade" class="form-control">
                                        <option value="NC">NC</option>
                                        <option value="Staf">Staf</option>
                                        <option value="Pro Specialist">Pro Specialist</option>
                                        <option value="Specialist">Specialist</option>
                                        <option value="AVP">Assistent Vice President</option>
                                        <option value="DM">Deputy Manager</option>
                                        <option value="M">Manager</option>
                                        <option value="SM">Senior Manager</option>
                                        <option value="SVP">Senior Vice President</option>
                                        <option value="VP">Vice President</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a asp-controller="MGrade" asp-action="Index" class="btn btn-lg btn-danger p-2">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>