@model WebAppSDM.Models.TGaji

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TGaji</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="NIP" class="control-label"></label>
                <input asp-for="NIP" class="form-control" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periode_year" class="control-label"></label>
                <input asp-for="periode_year" class="form-control" />
                <span asp-validation-for="periode_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periode_month" class="control-label"></label>
                <input asp-for="periode_month" class="form-control" />
                <span asp-validation-for="periode_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gapok" class="control-label"></label>
                <input asp-for="gapok" class="form-control" />
                <span asp-validation-for="gapok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tunjangan_tetap" class="control-label"></label>
                <input asp-for="tunjangan_tetap" class="form-control" />
                <span asp-validation-for="tunjangan_tetap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tunjangan_harian" class="control-label"></label>
                <input asp-for="tunjangan_harian" class="form-control" />
                <span asp-validation-for="tunjangan_harian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gapok" class="control-label"></label>
                <input asp-for="Gapok" class="form-control" />
                <span asp-validation-for="Gapok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tunjangan_lain" class="control-label"></label>
                <input asp-for="tunjangan_lain" class="form-control" />
                <span asp-validation-for="tunjangan_lain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bpjs_ks" class="control-label"></label>
                <input asp-for="bpjs_ks" class="form-control" />
                <span asp-validation-for="bpjs_ks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bpjs_tk" class="control-label"></label>
                <input asp-for="bpjs_tk" class="form-control" />
                <span asp-validation-for="bpjs_tk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dplk" class="control-label"></label>
                <input asp-for="dplk" class="form-control" />
                <span asp-validation-for="dplk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pph21" class="control-label"></label>
                <input asp-for="pph21" class="form-control" />
                <span asp-validation-for="pph21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="potongan_koperasi" class="control-label"></label>
                <input asp-for="potongan_koperasi" class="form-control" />
                <span asp-validation-for="potongan_koperasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="potongan_lain" class="control-label"></label>
                <input asp-for="potongan_lain" class="form-control" />
                <span asp-validation-for="potongan_lain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thp1" class="control-label"></label>
                <input asp-for="thp1" class="form-control" />
                <span asp-validation-for="thp1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thp2" class="control-label"></label>
                <input asp-for="thp2" class="form-control" />
                <span asp-validation-for="thp2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nominal_upah" class="control-label"></label>
                <input asp-for="nominal_upah" class="form-control" />
                <span asp-validation-for="nominal_upah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_date" class="control-label"></label>
                <input asp-for="update_date" class="form-control" />
                <span asp-validation-for="update_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

