@model WebAppSDM.Models.MDivisi

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Delete Master Divisi</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Nama Divisi
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.divisi_name)
                        </dd>
                    </dl>
                    <hr />
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="id" />
                        <input type="hidden" asp-for="divisi_name" />
                        <input type="hidden" asp-for="created_date" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

