@model WebAppSDM.Models.MHariLibur

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Create Hari Libur</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="tanggal" class="control-label"></label>
                            <input asp-for="tanggal" type="date" class="form-control" />
                            <span asp-validation-for="tanggal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="keterangan" class="control-label"></label>
                            <input asp-for="keterangan" class="form-control" />
                            <span asp-validation-for="keterangan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-action="Index" class="btn btn-lg btn-danger p-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

